.App {
  text-align: center;
  font-family: Helvetica, sans-serif;
  background-color: rgb(34, 34, 34);
  height: 16vh;
  color: rgb(250, 250, 250);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-title {
  font-size: 50px;
  padding: 25px 0;
}

.Timer{
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  border: 2px solid grey;
  border-radius: 4px;
  padding: 20px;
  width: 400px;
  background-color: rgb(22, 27, 31);
  box-shadow: 0 3px 6px rgb(12, 12, 12);
}

.Countdown-header, .Stopwatch-header {
  font-size: 40px;
  font-weight: bold;
}

button {
  background-color: #202b33;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  margin: 0 5px;
  cursor: pointer;
}
button:hover {
  background-color: #106ba3;
}

.Countdown-display, .Stopwatch-display {
  margin-top: 5px;
  margin-bottom: 20px;
}
.Countdown-display button {
  margin: 0 15px;
  border: solid 1px transparent;
  border-radius: 2px;
  padding: 4px 16px;
  color: #ffffff;

  font-size: 16px;
}
.Countdown-display button:hover {
  background-color: #106ba3;
}
.Countdown-label {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.Countdown-time {
  font-size: 36px;
  margin: 5px 0;
}

.Nav {
  color: white;
  font-size: 12px;
  margin-bottom: 2rem;
  padding-top: 1px;
}

.Link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px
}

.Stopwatch-display {
  font-size: 36px;
  margin-top: 8px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
